name: Main
on:
  push:
    branches: [main]
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "14.x"
      - name: Install dependencies
        run: npm install
      - name: Run test
        run: npm test

  deploy:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - name: Check out repository
        uses: actions/checkout@v2
      - name: Deploy to heroku
        uses: dilip20222/heroku-deploy@v3.12.12 
        # uses: dilip20222/test/heroku-deploy@v
        with:
          heroku_api_key: "8627fe46-1a0e-4548-ad29-cbf61fe103c4"
          heroku_app_name: "herokutest1200"
          heroku_email: "suthardips123000@gmail.com"
